@import "vars"

@media only screen and (max-width: 992px)
  .main-image
    max-width: 600px
    top: 0
    right: -40px

  .main-list
    font-size: 18px
    li
      padding: 12px

  .main-image-signature
    top: 20px
    left: 140px
    font-size: 16px
    max-width: 135px

  .main-content
    max-width: 650px

  .list-family
    padding: 0

  .statistics
    .wrapper-row
      align-items: stretch
      justify-content: space-around

  .statistics-box2 ul
    padding: 0 40px 0 0

  .statistics:before
    display: none

  .statistics-box
    width: 49%
    margin: 0 0 30px
    padding: 30px
    height: auto

  .statistics-box-body
    h4
      font-size: 20px
    p
      margin: 10px 0 0
      font-size: 16px

  .statistics-box-top
    margin: 0 0 20px

  .statistics-box-number
    width: 60px
    height: 60px
    font-size: 40px

  .statistics
    padding: 70px 0
    h2
      margin: 0 auto 40px

  .from-where-content
    max-width: none
    margin: 40px 0 0

  .box-text
    font-size: 16px

  .abc .box-text
    margin: 20px 0

  .abc
    padding: 70px 0

  .author-content
    max-width: 400px

  .author-photo
    max-width: 350px

  .list-check
    font-size: 16px
    margin: 30px 0 0

  .subtitle
    letter-spacing: 1px

  .author
    padding: 50px 0

  .lesson-box
    font-size: 17px
    padding: 30px 30px 200px

  .lessons
    padding: 50px 0
    h2
      margin: 0 0 30px

  .verification-img
    margin: 20px auto 0
    order: 1
    max-width: 400px

  .list-checkbox
    max-width: none
    padding: 0

  .verification
    padding: 70px 0 0
    h2
      margin: 0 auto 30px
    &:before
      display: none

  .from-where-list__item
    font-size: 16px

  .from-where__icon
    width: 70px
    height: 70px
    min-width: 70px
    margin: 0 20px 0 0


  .from-where
    h2
      margin: 0 auto
      text-align: center

  .from-where-list__item
    padding: 0 0 20px
    margin: 0 0 20px
    border-bottom: 1px solid #ede9ea
    align-items: flex-start
    &:last-child
      border: none

  .motivation-box
    font-size: 20px
    padding: 93px 50px 100px 80px
    margin: 50px 0 0
    &:before
      display: none

  .motivation
    padding: 60px 0
    &:before
      background: url("../img/decor3-mob.png") no-repeat center
        size: contain
      width: 160px
      height: 306px
      right: 0
    .box-text
      padding: 0 50px 0 0
      font-size: 16px
    h3
      font-size: 18px



  .abc
    .btn-icon
      display: flex

  .panel_heading
    padding: 20px

  .block_title
    font-size: 20px

  .block_hover
    font-size: 16px
    line-height: normal

  .author-content
    max-width: 350px

  .lesson-box
    width: 49%
    padding: 30px 30px 300px
    height: auto

  .lessons
    .btn-icon
      display: flex
    .wrapper-row
      align-items: stretch

  .price-wrapper:before
    display: none

  .result
    padding: 70px 0
    position: relative
    z-index: 1
    &:before
      content: ''
      position: absolute
      bottom: 0
      opacity: .6
      left: -130px
      width: 100%
      height: 100%
      background: url("../img/figure-mob.png") no-repeat left center
        size: 100%
      z-index: -1

  .result-box
    font-size: 18px
    padding: 20px

  .col-3
    width: 50%

  .verification
    &:after
      display: none
    .wrapper-row
      flex-wrap: wrap

  .abc-content
    max-width: 55%

  .abc-img
    max-width: 45%


/* Small Devices, Tablets */
@media only screen and (max-width: 870px)
  .main-image
    position: relative
    top: 0
    right: 0
    max-width: 700px
    margin: 20px auto 0

  .main-image-signature
    top: 30px
    left: 20%

  main
    padding: 209px 0 30px

    &:after
      width: 106px
      height: 105px
      right: 117px
      top: 676px
      background: url("../img/decor2.png") no-repeat center
        size: 100%
      left: auto

    &:before
      background: url("../img/decor5.png") no-repeat center
        size: 100%
      width: 800px
      height: 533px
      right: 0
      top: 212px
      left: auto




@media only screen and (max-width: 768px)
  .btn
    height: 50px
    font-size: 16px

  .btn-icon
    width: 20px
    margin: 0 0 0 10px

  h1
    font-size: 44px

  h2
    font-size: 28px

  h3
    font-size: 22px

  main
    padding: 150px 0 22px

    &:after
      right: 60px
      top: 370px

    &:before
      top: 100px

    h3
      margin: 15px 0 20px

    .btn
      margin: 20px auto 0



  .motivation-box
    background: url("../img/bg-overlay-mob1.png") no-repeat center
      size: 300px
    text-align: center
    padding: 80px 40px
    font-size: 18px
    margin: 0
    h2
      font-size: 24px

  .btn
    text-align: center
    padding: 0 20px

  .question
    padding: 50px 0 30px
    h2
      margin: 0 0 30px

  .block_title-icon
    margin: 0 10px 0 0

  .block_title
    font-size: 18px
    align-items: flex-start

  .block_hover
    padding: 10px 0 0 43px

  .reviews-box
    flex-direction: column
    align-items: flex-start

  .reviews-box-content:before
    top: 10px

  .reviews-box-content
    font-size: 16px
    max-width: none

  .reviews
    padding: 50px 0
    h2
      margin: 0 auto 30px

  .reviews-box-author
    order: 1
    margin: 30px 0 0 30px
    padding: 30px

  .author-content
    max-width: none
    width: 100%
    order: -1
    margin: 0 0 30px

  .price-wrapper
    padding: 40px 20px

  .result
    padding: 50px 0 30px
    h2
      margin: 0 0 30px

  .verification
    .btn-icon
      display: flex

  .from-where .container:before
    display: none

  .abc-content
    margin: 0 auto
    max-width: none
    width: 100%

  .abc-img
    margin: 0 auto
    max-width: none

@media only screen and (max-width: 650px)
  .statistics
    .wrapper-row
      flex-direction: column
      align-items: center

  .statistics-box
    max-width: 310px
    width: 100%

  .statistics-box-number
    width: 50px
    height: 50px

  .list-family
    width: calc(100% - 50px)

@media only screen and (max-width: 576px)
  .main-image
    max-width: 400px

  .main-image-signature
    font-size: 16px
    max-width: 130px
    left: 10%
    top: 0

  .lesson-box
    width: 100%
    padding: 30px 30px 260px
    font-size: 15px
    h4
      font-size: 18px

  .col-3
    width: 100%

@media only screen and (max-width: 480px)
  main
    padding: 70px 0 20px

  .main-list
    font-size: 16px

  h1
    font-size: 40px

  h2
    font-size: 24px

  h3
    font-size: 20px

  .list-family li
    width: 40px

  .statistics
    padding: 60px 0 30px

  .abc
    padding: 40px 0

  .reviews-box-author__photo
    width: 90px
    height: 90px
    right: -45px

  .reviews-box-author
    margin-left: 0
    max-width: 240px

  .btn
    font-size: 15px

@media only screen and (min-width: 992px) and (max-width: 1300px)
  .container
    max-width: 70vw
    padding: 0 0.9375vw

  .main-image
    max-width: 700px
    top: -60px

  .main-image-signature
    left: 180px
    top: 50px

  .list-family, .statistics-box2 ul
    padding: 0

  .list-family
    width: calc(100% - 60px)
    li
      width: 40px
      margin: 0 7px 10px 0

  .statistics-box-number
    width: 60px
    height: 60px
    font-size: 40px

  .from-where-content
    max-width: 480px

  .from-where-list__item
    margin: 0 0 30px

  .from-where__icon
    width: 70px
    height: 70px
    min-width: 70px
    margin: 0 15px 0 0

  .from-where .container:before
    left: 80px

  .verification-img
    max-width: 280px
    margin: 0 auto

  .list-checkbox
    max-width: 280px
    padding: 50px 0 0

  h2, .motivation-box h2
    font-size: 2vw

  h3, .name h4, .block_title
    font-size: 1.5vw

  h1
    font-size: 2.625vw

  .main-list, .statistics-box-body h4, .statistics-box p, .from-where-list__item, .motivation .box-text, .motivation-box, .reviews-box-content, .name p
    font-size: 1.5vw

  .list-checkbox, .result-box, .lesson-box h4, .lesson-box, .list-check, .block_hover, .box-text
    font-size: 1.4vw

  .lesson-box
    padding: 3.125vw 3.125vw 14vw 1.875vw

  .panel_heading
    padding: 2.125vw

  .btn
    font-size: 1.125vw
    height: auto
    min-height: 4.875vw

  .btn-icon
    width: 20px

  .author-photo
    max-width: 28vw

  .author-content
    max-width: 32vw

  .slick-arrow
    width: 50px
    height: 50px

  .slider-nav
    margin: 30px 0 0

  .abc-content
    max-width: 40vw

  .abc-img
    max-width: 30vw
